body {
    font-family:'Work Sans';
    height: 100%;
    width: 100%;
    color: #342A21ee;
}
.container {
    height: 100%;
    width: 100%;
}
h1 {
    font-weight: 700;
    font-size: 2em;
    line-height: 0.9;
    padding: 110px;
    padding-top: 60px;
    position: fixed;
    left: 60%;
    width: 50px;
    color: #342A2166;
    background: #D897A350;
}
@media (max-width: 500px) {
    h1 {
        left: 0;
    }
}
h1:after {
    position: relative;
    display: block;
    top: 10px;
    left: 0;
    background: none;
    content: 'ARTH5200, Sam Adams';
    font-weight: 400;
    font-size: .5em;
}

p {
    position: absolute;
    padding: 100px;
    border: 1px solid #D897A3cc;
    /* color: #D897A3; */
}
p:hover {
    border-width: 30px;
}

.sam:hover:after {
    color: #00000000;
}
.sam:hover {
    background-image: url(../images/sam-adams.jpg);
    background-size: cover;
}
